{% extends 'base.html.twig' %}
    {% block title %}Szczegóły zamówienia{% endblock %}
    {% block body %}
        <div class="row details">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Informacje o zamówieniu</h3>
                    </div>

                    <div class="col-lg-4">
                        <a href="#" class="btn btn-info">Zatwierdzono/Oczekuje na odbiór</a>
                        <a href="{{ url("admin_order_in_progress", {id: order.id}) }}" class="btn btn-success">Ustaw jako wynajęte</a>
                    </div>
                </div>

                <div>
                    {{ include('order/admin/order-details.html.twig', { 'order': order }) }}
                </div>
            </div>
        </div>
    {% endblock %}